.app {
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app > :first-child {
  border-bottom: 1px solid;
}

.app > * {
  overflow: scroll;
  flex-basis: 100%;
}
